apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  annotations:
    volume.beta.kubernetes.io/storage-class: slow
  name: {{ logstash_name }}-logstash-queue
spec:
  accessModes:
  - ReadWriteMany
  resources:
    requests:
      storage: 10Gi
